.map-container {
  height: 400px;
}

.mat-slider-vertical {
  height: 400px;
}

.ui-row {
  height: 530px;
}

.results-row {
  display: flex;
  align-items: center;
}

a {
  color:inherit;
}

.legend {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.thin-column {
  padding: 0;
}

.legend-column {
  width: 20px;
}

.wide-slider {
  width: 80%;
}

.map-container .mat-slider-vertical {
  height: 90%
}

.progress {
  width: 95%;
  margin-top: 10px;
}
