.user-table {
  width: 600px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 50px;
}

.button-add {
  display: flex;
  justify-content: flex-end;
  padding-right: 70px;
  padding-top: 30px;
}
