# Ignore the analysis folder
analysis/
build/
src/test/resources/shapefiles/
src/test/resources/out/
gaulintegrator/src/test/resources/
system/
*.bin
**/*.jfr

logs
project/project
project/target
target
tmp
.history
dist
/.idea
*.iml
**/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
**/dependency-reduced-pom.xml

# Ignore files I generate
trestle-integrations/*.err
trestle-integrations/*.owl

# Java Ignore
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
src/test/resources/intersection.csv
src/test/resources/SELECT___adm2_name____adm2_code____recor.csv

trestle-integrations/src/test/resources/shapefiles/sudan/
!/trestle-reasoner/src/main/clojure/com/nickrobison/trestle/reasoner/parser.clj
