.dataset-container {
    height: inherit;
    padding: 0;
}
.map-container {
    height: 300px;
}
.map-container #map {
    height: 400px;
}

.material-icons.orange600 { color: #FB8C00; }

.material-icons.selected { color: green; }

.loading-spinner {
    height: 20px;
    width: 20px;
}
