<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

    <appender name="CA" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p | %t | %X{test}] %d %c:%L %X{transaction} - %m%n"/>
        </layout>
    </appender>

    <category name="org.semanticweb.owlapi">
        <priority value="OFF"/>
    </category>
    <category name="oracle.spatial">
        <priority value="OFF"/>
    </category>
    <category name="org.apache.http">
        <priority value="OFF"/>
    </category>
    <category name="com.nickrobison.trestle.ontology">
        <priority value="TRACE"/>
    </category>
    <category name="org.eclipse.rdf4j.repository">
        <priority value="OFF"/>
    </category>

    <root>
        <priority value="WARN"/>
        <appender-ref ref="CA"/>
    </root>

</log4j:configuration>