<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG"
               xmlns="http://logging.apache.org/log4j/2.0/config"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config
           https://raw.githubusercontent.com/apache/logging-log4j2/master/log4j-core/src/main/resources/Log4j-config.xsd">
    <Appenders>
        <Console name="CA">
            <PatternLayout pattern="[%-5p | %t | %X{test}] %d %c:%L %X{transaction} - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.http" level="OFF"/>
        <Logger name="org.eclipse.rdf4j" level="OFF"/>
        <Logger name="org.semanticweb.owlapi" level="OFF"/>
        <Root level="DEBUG">
            <AppenderRef ref="CA"/>
        </Root>
    </Loggers>
</Configuration>
