<div class="container disabled_text light_gray_text" *ngIf="disabled">
    Metrics are currently disabled
</div>
<div class="container" *ngIf="!disabled">
    <div class="section">
        <div class="metrics-header row">
            <span class="page-spacer"></span>
            <div *ngIf="startTime">
                Running since: {{startTime.format()}} <i>({{upTime.humanize()}})</i>
            </div>
        </div>
        <div class="row">
            <div class="col s8">
                <form>
                    <mat-select placeholder="Metrics" name="metrics" [(ngModel)]="selectedValue">
                        <mat-option *ngFor="let meter of meters" [value]="meter">
                            {{meter}}
                        </mat-option>
                    </mat-select>
                </form>
            </div>
            <div class="col s1">
                <mat-progress-spinner *ngIf="loadingData" [attr.color]="'primary'"
                                      [mode]="'indeterminate'"></mat-progress-spinner>
            </div>
            <div class="col s3">
                <button mat-raised-button (click)="exportAllMetrics()">Export All Metrics</button>
            </div>
        </div>
    </div>

    <div class="section" *ngIf="nowTime">
        <metrics-graph [data]="selectedData" [minTime]="startTime.toDate()"
                       [maxTime]="nowTime.toDate()"></metrics-graph>
        <button mat-raised-button (click)="exportVisibleMetrics()">Export Visible Metrics</button>
    </div>
</div>