<div class="section">
    <h4>SPARQL Editor</h4>
    <codemirror [prefixes]="prefixes" (query)="executeQuery($event)"></codemirror>
</div>
<mat-progress-bar [color]="'primary'" [mode]="'indeterminate'" *ngIf="loading"></mat-progress-bar>
<div class="card-panel red lighten-2" *ngIf="errorMessage">
    <!--<div *ngIf="errorMessage">-->
    {{errorMessage}}
</div>
<!--</div>-->
<div class="divider"></div>
<div class="section" *ngIf="results">
    <query-viewer [data]="results"></query-viewer>
</div>
