<div *ngIf="individual">
  <div class="section">
    <h4>{{individual.getID()}}</h4>
    <div class="row">
      <div class="col s12 l7 ui-row">
        <trestle-map [dataChanges]="mapIndividual" [single]="true" [multiSelect]="false"></trestle-map>
      </div>
      <div class="col s12 l5 ui-row">
        <individual-graph [config]="{data: individual,
            validAt: validAt,
            dbAt: dbAt}"></individual-graph>
      </div>
    </div>
  </div>
  <div class="section">
    <a mat-raised-button [routerLink]="['/explore', 'compare']"
       [queryParams]="{id: individual.getID()}" color="primary">Add to Compare</a>
    <button mat-raised-button color="warn">DELETE</button>
  </div>
  <div class="section">
    <mat-tab-group>
      <mat-tab label="Fact History">
        <div class="section">
          <history-graph id="fact-history" [data]="individualFactHistory" [minTime]="minTime"
                         [maxTime]="maxTime"
                         [graphHeight]="300"></history-graph>
        </div>
        <div class="section">

          <visualize-fact-table [facts]="individual.getFacts()"></visualize-fact-table>
        </div>
      </mat-tab>
      <mat-tab label="Object Relations">
        <div class="section" *ngIf="individual">
          <table class="responsive-table highlight">
            <thead>
            <tr>
              <th>Relation</th>
              <th>From</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let relation of individual.getRelations()">
              <td>{{relation.getType()}}</td>
              <td>{{displayFn(relation.getObject())}}
                <a
                  matTooltip="Visualize individual"
                  [routerLink]="['/explore',
                                'visualize',
                                getSuffix(relation.getObject())]"
                  [queryParams]="{root: getPrefix(relation.getObject())}">
                  <mat-icon>link</mat-icon>
                </a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Spatial Union" *ngIf="individual.isUnion()">
        <spatial-union
          [minDate]="minGraphDate"
          [maxDate]="maxGraphDate"
          [individual]="individual"></spatial-union>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
