<div fxLayout="column" fxLayoutGap="50px" class="aggregate-container">
    <div class="map-container">
        <trestle-map #map [single]="false"
                     [multiSelect]="true"
                     [zoomOnLoad]="true"
                     [config]="mapConfig"
                     [dataChanges]="dataChanges"
                     class="map-container"></trestle-map>
    </div>
    <div fxLayout="column" fxLayoutGap="20px">
        <h4>Aggregation Restriction</h4>
        <div fxLayout="row">
            <div>
                <mat-select [(value)]="selectedDs"
                            placeholder="Select available dataset"
                            (selectionChange)="datasetChanged($event)">
                    <mat-option *ngFor="let ds of datasets" [value]="ds">
                        {{ds}}
                    </mat-option>
                </mat-select>
            </div>
            <div>
                <mat-select [(value)]="selectedProperty"
                            placeholder="Select data property"
                            (selectionChange)="propertyChanged($event)">
                    <mat-option *ngFor="let property of properties" [value]="property">
                        {{property}}
                    </mat-option>
                </mat-select>
            </div>
            <div>
                <mat-select [(value)]="selectedCountry" placeholder="Select country">
                    <mat-option *ngFor="let country of countries" [value]="country">
                        {{country}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <h4>Aggregation Strategy</h4>
        <div fxLayout="row">
            <div [hidden]="!selectedDs">
                Select an Aggregation:
                <mat-select [(value)]="selectedAggregation">
                    <mat-option [value]="'EXISTENCE'">
                        Existence
                    </mat-option>
                </mat-select>
            </div>
            <div>
                <button mat-raised-button color="primary"
                        [disabled]="!selectedAggregation || !selectedDs"
                        (click)="aggregate()">
                    AGGREGATE
                </button>
            </div>
        </div>
    </div>
</div>
