<div fxLayout="column" fxLayoutGap="50px">
    <div class="map-container">
        <trestle-map #map [single]="false"
                     [multiSelect]="true"
                     [zoomOnLoad]="true"
                     [config]="mapConfig"
                     [dataChanges]="dataChanges"
                     class="map-container"></trestle-map>
    </div>
    <div fxLayout="column" fxLayoutGap="20px" class="aggregate-container">
        <h4>Aggregation Restriction</h4>
        <div fxLayout="row">
            <div fxFlex="33%">
                <mat-select [(value)]="selectedDs"
                            placeholder="Select available dataset"
                            (selectionChange)="datasetChanged($event)">
                    <mat-option *ngFor="let ds of datasets" [value]="ds">
                        {{ds}}
                    </mat-option>
                </mat-select>
            </div>
            <div fxFlex="33%">
                <mat-select [(value)]="selectedProperty"
                            placeholder="Select data property"
                            (selectionChange)="propertyChanged($event)">
                    <mat-option *ngFor="let property of properties" [value]="property">
                        {{property}}
                    </mat-option>
                </mat-select>
            </div>
            <div [hidden]="!showPropertyValues()" fxFlex="33%">
                <mat-select [(value)]="selectedValue" placeholder="Select value">
                    <mat-option *ngFor="let pv of values | sort" [value]="pv">
                        {{pv}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <h4>Aggregation Strategy</h4>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div [hidden]="!selectedDs" fxFlex="22%">
                <mat-select [(value)]="selectedAggregation" placeholder="Select an aggregation strategy">
                    <mat-option [value]="'EXISTENCE'">
                        Existence
                    </mat-option>
                </mat-select>
            </div>
            <div>
                <button mat-raised-button color="primary"
                        [disabled]="!selectedAggregation || !selectedDs"
                        (click)="aggregate()">
                    AGGREGATE
                </button>
            </div>
        </div>
    </div>
</div>
