.selection-container {
    max-height: 900px;
    min-width: 400px;
}

.mat-table {
    overflow: auto;
    max-height: auto;
}

.mat-column-select {
    overflow: visible;
}

.legend {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}