.map-container {
    height: 300px;
}

.thin-width {
    margin-left: 5%;
    width: 90%;
}

.mat-slider-vertical {
    height: 250px;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
