<div class="section">
    <h4>Spatial Compare</h4>
    <div class="row">
        <div class="col s10 map-container">
            <trestle-map [single]="false"
                         [multiSelect]="false"
                         [zoomOnLoad]="zoomMap"
                         [data]="mapData"
                         [config]="mapConfig"></trestle-map>
        </div>
    </div>
</div>
<div class="section">
    <div *ngIf="!baseIndividual">
        <h5>Add base individual</h5>
        <search (selected)="addBaseIndividual($event)"></search>
    </div>
    <div *ngIf="baseIndividual">
        <div class="row">
            <h5>Comparing against: {{baseIndividual.getFilteredID()}}</h5>
            <button mat-raised-button color="primary">INTERSECT</button>
            <button mat-raised-button color="warn" (click)="reset()">RESET</button>
        </div>

        <div class="row">
            <div class="col s12 l5 ui-row">
                Search here
                <search (selected)="selectedHandler($event)"></search>
                <div class="row">
                    <button mat-raised-button>ADD</button>
                </div>
            </div>
            <div class="col s12 l7 ui-row">
                List of compared values here
                <ul *ngFor="let selection of selectedIndividuals">
                    <li class="results-row">
                        {{selection.individual.getID()}}
                        <a (click)="toggleVisibility(selection)">
                            <i *ngIf="selection.visible" class="material-icons mat-18">layers</i>
                            <i *ngIf="!selection.visible" class="material-icons mat-18 light">layers_clear</i>
                        </a>
                        <a (click)="removeIndividual(selection)">
                            <i class="material-icons mat-18">delete</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
