<div class="section">
    <h4>Spatial Compare</h4>
    <div class="row">
        <div class="col s10 map-container">
            <trestle-map [single]="false"
                         [multiSelect]="false"
                         [zoomOnLoad]="zoomMap"></trestle-map>
        </div>
    </div>
</div>
<div class="section">
    <h5>Add individuals to compare</h5>
    <div class="row">
        <div class="col s12 l5 ui-row">
            Search here
            <div class="row">
                <button>Intersect</button>
                <button>Add</button>
            </div>
        </div>
        <div class="col s12 l7 ui-row">
            List of compared values here
        </div>
    </div>
</div>
