/*This min-height thing (using vh not %) is necessary to get full height components*/
html {
    min-height: 100vh;
    height: auto;
}
.app-content {
    height: 100vh;
    /*background: lightgrey;*/
}