reasoner:
#  connectionString: "jdbc:oracle:thin:@//oracle7.hobbithole.local:1521/spatial"
#  username: "spatialUser"
#  password: "spatial1"
  connectionString: "http://localhost:7200"
  username: ""
  password: ""
#  connectionString: "http://141.142.170.88:7200/"
#  username: ""
#  password: ""
#  ontology: "hadoop_gaul_expanded_equality"
#  prefix: "http://nickrobison.com/test/gaul/"
#  prefix: "http://nickrobison.com/test/hadoop.owl#"
#  ontology: "tigercounties3"
#  prefix: "http://nickrobison.com/demonstration/tigercounty#"
#  ontology: "gaul_hadoop_world_bank"
#  prefix: "http://nickrobison.com/gaul/"
#  ontology: "trestle_demo"
#  prefix: "http://trestle.nickrobison.com/demonstration/"
#  location: "file:////Users/nickrobison/Developer/git/dissertation/trestle-ontology/trestle.owl"
  ontology: "covid"
  prefix: "http://trestle.nickrobison.com/covid/"
  location: "file:////Users/nickrobison/Developer/git/dissertation/trestle/trestle-ontology/src/main/resources/ontology/trestle.owl"

logging:
  level: INFO
  loggers:
    "com.nickrobison.metrician": DEBUG
    "com.nickrobison.trestle": DEBUG
    "org.hibernate.SQL": DEBUG
    "org.hibernate.type": DEBUG
  appenders:
    - type: console
      logFormat: "[%-5p | %t | %X{test}] %d %c:%L %X{transaction} - %m%n"
      includeCallerData: true

database:
# Embedded H2
  driverClass: org.h2.Driver
  user: sa
  url: jdbc:h2:./trestle.db
  properties:
    charSet: UTF-8
    hibernate.dialect: org.hibernate.dialect.H2Dialect
# Postgres
#  driverClass: org.postgresql.Driver
#  user: nickrobison
#  url: jdbc:postgresql://localhost:5432/nickrobison
#  properties:
#      charSet: UTF-8
#      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  authHeader: "Authorization"
  authSalt: "test-salt"
  expirationTime: 7200

swagger:
  resourcePackage: com.nickrobison.trestle.server.resources

server:
  applicationConnectors:
    - type: http
      port: 8080
  adminConnectors:
    - type: http
      port: 8087
