html {
    height: 100%;
}
.app-content {
    min-height: 100vh;
    margin-left: 20px;
}

.mat-sidenav {
    width: 150px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.top-layout {
    height: 10px;
    vertical-align: middle;
}

.img-circle {
    height: 36px;
    border-radius: 50%;
}

.action-buttons * {
    vertical-align: middle;
    padding: 0;
}