<md-sidenav-layout>
    <md-sidenav #sidenav mode="side">
        Trestle
    </md-sidenav>
    <md-toolbar color="primary">
        <button md-button hide-gt-sm (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>
        <!--<button md-raised-button>Trestle</button>-->
        <span class="toolbar-spacer"></span>
        <a md-button routerLink="." aria-label="dashboard link">DASHBOARD</a>
        <a md-button routerLink="visualize" aria-label="visualizer link">VISUALIZER</a>
        <a md-button routerLink="users" aria-label="users link">USERS</a>
        <button md-button class="toolbar-button" aria-label="Search">
            <i class="material-icons">search</i>
        </button>
        <button md-button class="toolbar-button" aria-label="Notifications">
            <i class="material-icons">notifications</i>
            <!--<span class="notifications-label">0</span>-->
        </button>
        <button md-button class="toolbar-button" aria-label="Settings">
            <i class="material-icons">menu</i>
        </button>
    </md-toolbar>
    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-layout>